.card {
  width: 99%;
  height: 370px;
  overflow: hidden !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 500ms ease-in-out;

  .content {
    font-family: "Open Sans";
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: all 500ms ease-in-out;
    transform: translate(0, 20px);
    cursor: pointer;
    h1 {
      font-size: 25px;
      color: white;
    }
    p {
      font-size: 15px;
      color: white;
      margin-bottom: 20px;
    }

    .btn {
      margin: 5px;
      background-color: black;
      color: white;
      padding: 10px;
      text-decoration: none;
      transition: .5s;

      &:hover {
          opacity: 1;
          background-color: rgb(100, 100, 100);
      }

    }

    &:hover {
      opacity: 1;
      transform: translate(0, 0px);
      background-color: rgba(0,0,0,.5);
      cursor: default;
    }
  }
}