.navbar-wrapper {
  width: 100vw;
  margin-top: 0vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position:fixed;
  background-color:white;
  transition: .5s;
  top:0;
  -webkit-text-fill-color: black;
  .name {
    font-weight: 600;
  }
  .links-wrapper {
    button {
      text-decoration: none;
      padding: 10px;
      font-family: "Open Sans";
      transition: all 0.2s ease-in-out;
      font-size: 18px;
      background-color: transparent;
      outline: none;
      border: 0px;
      cursor: pointer;
      &:hover {
        opacity: .5;
        background-color: rgb(100,100,100);
        color: white;
      }
    }
    .active {
      color: black;
    }
  }
}
.navbar-wrapper.active {
  background-color:chartreuse;
}
